/** IMPORTS **/
@import "variables.scss"; // variable va reset scss larni import qildik
@import "reset.scss";

/** VERSION: PC **/
#pc-wrap {
  width: 100%;
  height: 100%;
  .container { // ihtiyoriy containerlarga bu mantiq yuklanadi
    position: relative;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    // background: rgb(36, 131, 172);
  }
}
